body {
    background-color: lightgray;
}
h2 {
    background-color:red;
}
p {
    background-color:black;
	color:white;
	border:5px solid blue;
	padding:20px;
} 
.center-whole {
	text-align:center;
}
.blue-bg {
	background-color:blue;
}
.black-bg {
	background-color:black;
	color:white;
}
.red-bg {
	background-color:red;
}