body {
	font-family:sans-serif;
	font-size: 12pt;
    background-color: #3B4E7F;
	margin-top:60px;
	border:0px;
	padding: 10px;
}
h1 {
	color:white;
    text-align:center;
}
h2 {
	text-align:center;
	color:white;
}
h3 {
	text-align:center;
	color:white;
}
a:link {
	text-decoration:none=;
}
a:visited {
	text-decoration:none;
}
.dead-middle {
	text-align: center;
	margin-top: 150px;
}
.game-nav {
	width: 300px;
	margin: 40px;
	padding: 10px;
	border: 5px solid #696969;
	background-color: #A2C0DC;
	border-image-width: 10px;
}
.cul {
  text-align: center;
  list-style-position: inside;
}
.black-box {
    background-color:black;
	border:5px solid blue;
	padding:20px;
} 
.name-button {
    background-color: sky-blue;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
    font-size: 20px;
} 
.gray-button {
    background-color: #696969;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
    font-size: 16px;
	cursor: pointer;
}
.top-strip {
	background-color: #282828;
	width:100%;
	padding: 5px;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 5;
}
.container {
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}
.container-no-wrap {
	display: flex;
	justify-content: space-between;
}
.centering {
	text-align:center;
}
.align-left {
	text-align:left;
}
.left-half {
	width: 50%;
	float: left;
	}
.right-half {
	width: 50%;
	float: right;
}
.third-width {
	width:30%;
}
.left-third {
	width: 30%;
	float: left;
}
.middle-third {
	width: 30%;
}
.right-third {
	width: 30%;
	float: right;
}
.right-float {
	float:right;
}
.left-float {
	float:left;
}
.blue-bg {
	background-color:blue;	
}
.black-bg {
	background-color:black;
}
.red-bg {
	background-color:red;
}
.white-outline {
	border: 3px solid white;
	padding: 10px;
	overflow: auto;	
	position: relative;
	margin-bottom: 20px;
}
.gray-outline {
	border: 3px solid #bababa;
	padding: 10px;
	overflow: auto;	
}
.red-outline {
	border: 3px solid #ff4d4d;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.blue-outline {
	border: 3px solid #8080ff;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.yellow-outline {
	border: 3px solid #ffff99;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.extra-box-padding {
	padding:5px;
}
img.profile-pic {
	width:200px;
	height:200px;
	background-color:light-gray;
	margin:5px;
	border:5px solid #696969;
	padding:0px;
	text-align:center;
}
img.heading {
	width: 300px;
}	
img.small-pic {
	width: 150px;
	height: 150px;
}
img.med-pic {
	width: 200px;
	height: 200px;
}
img.mc-mk7-cover {
	width:250px;
	background-color:light-gray;
	margin:5px;
	border:5px solid gray;
}
img.minecraft-mk7 {
	width:400px;
	background-color:light-gray;
	margin:5px;
	border:5px solid gray;
}
img.rotate90ccw {
	transform: rotate(270deg);
}	
img.rotate180 {
	transform: rotate(180deg);
}
form.center {
	text-align: center;
}
table {
	width: 90%;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
	padding: 10px;
	text-align: center;
	background-color: white;
	color: black;
}
th {
	background-color: #696969;
}
.white-text {
	color:white;
}
.gray-text {
	color: #696969;
}
.light-gray-text {
	color: #cccccc;
}
.sand-text {
	color:#edda0e;
}
.tan-text {
	color:#d2b48c;
}
.brown-text {
	color:#cb9863
}
.almost-black-text {
	color:#282828;
}
.red-text {
	color:red;
}
.maroon-text {
	color:#a83939;
}
.red-orange-text {
	color:#f45c16;
}
.pale-orange-text {
	color:#E09973;
}
.yellow-text {
	color:#FFFF66;
}
.green-text {
	color:#509C6B;
}
.ice-blue-text {
	color:#B2D9EE;
}
.light-blue-text {
	color:#3ebef9;
}
.turquoise-text {
	color:turquoise;
}
.navy-text {
	color:#000066;
}
.draco-text {
	color:#4c4c93;
}
.purple-text {
	color:#d06ddb;
}
.lavender-text {
	color:#eedcfd;
}
.pink-text {
	color:#F660AB;
}
.light-pink-text {
	color:#ffb7fb;
}