body {
	font-family:sans-serif;
	font-size: 12pt;
    background-color: #3B4E7F;
	margin:0px;
	border:0px;
	padding: 10px;
}
h1 {
	color:white;
    text-align:center;
}
h2 {
	text-align:center;
	color:white;
}
h3 {
	text-align:center;
	color:white;
}
a:link {
	color:white;
	text-decoration:none;
}
a:visited {
	color:white;
	text-decoration:none;
}
.cul {
  text-align: center;
  list-style-position: inside;
}
.black-box {
    background-color:black;
	border:5px solid blue;
	padding:20px;
} 
.name-button {
    background-color: sky-blue;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
    font-size: 20px;
} 
.gray-button {
    background-color: #696969;
    border: none;
	margin-bottom: 5px;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 5px;
    font-size: 16px;
	cursor: pointer;
}
.damage-headline-left {
    background-color: #ff4d4d;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width:60px;
}
.damage-headline-right {
    background-color: #ff4d4d;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:60px;
}
.tank-headline-left {
    background-color: #8080ff;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width:60px;
}
.tank-headline-right {
    background-color: #8080ff;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:60px;
}			
.support-headline-left {
    background-color: #ffff99;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width:60px;
}
.support-headline-right {
    background-color: #ffff99;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:60px;
}		
.filler-headline-left {
    background-color: #ea830e;
    border: none;
    color: #bababa;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width:60px;
}	
.player-headline-right {
	background-color: #bababa;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:80px;
}	
.player-headline-mid {
	background-color: #bababa;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width:80px;
}	
.xbox-headline {
	background-color: white;
    border: none;
    color: #56af62;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width:60px;
}	
.xbox-gamertag {
	background-color: #56af62;
    border: none;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:160px;
}
.pc-headline {
	background-color: #282828;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    font-size: 16px;
	width: 60px;
}	
.pc-gamertag {
	background-color: white;
    color: #282828;
    padding:10px;
    text-align: center;
	font: bold;
    text-decoration: none;
    display: inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
    font-size: 16px;
	width:160px;
}	
.container {
	display: flex;
	justify-content: space-between;
}
.center-whole {
	text-align:center;
}
.left-half {
	width: 50%;
	float: left;
	}
.right-half {
	width: 50%;
	float: right;
}
.left-third {
	width: 30%;
	float: left;
}
.middle-third {
	width: 30%;
}
.right-third {
	width: 30%;
	float: right;
}
.left-side-ow {
	width: 74%;
	float: left;
}
.right-side-ow {
	width: 25%;
	float: right;
	text-align: right;
}
.left-side-poke {
	width: 70%;
	float: left;
}
.right-side-poke {
	width: 30%;
	float: right;
	text-align: center;
	margin-left: 10px;
}
.right-float {
	float:right;
}
.left-float {
	float:left;
}
.blue-bg {
	background-color:blue;	
}
.black-bg {
	background-color:black;
}
.red-bg {
	background-color:red;
}
.white-outline {
	border: 3px solid white;
	padding: 10px;
	overflow: auto;	
}
.gray-outline {
	border: 3px solid #bababa;
	padding: 10px;
	overflow: auto;	
}
.red-outline {
	border: 3px solid #ff4d4d;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.blue-outline {
	border: 3px solid #8080ff;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.yellow-outline {
	border: 3px solid #ffff99;
	padding: 5px;
	overflow: auto;
	margin-bottom: 15px;
}
.extra-box-padding {
	padding:5px;
}
.pokemon {
	text-align:center;
}
img.profile-pic {
	width:200px;
	height:200px;
	background-color:light-gray;
	margin:5px;
	border:5px solid #696969;
	padding:0px;
	text-align:center;
}
img.small-pic {
	width: 150px;
	height: 150px;
}
img.med-pic {
	width: 200px;
	height: 200px;
}
img.pokepic {
	width: 200px;
	height: 200px;
}
img.mc-mk7-cover {
	width:250px;
	background-color:light-gray;
	margin:5px;
	border:5px solid gray;
}
img.minecraft-mk7 {
	width:400px;
	background-color:light-gray;
	margin:5px;
	border:5px solid gray;
}
img.rotate90ccw {
transform: rotate(270deg);
}	
img.rotate180 {
	transform: rotate(180deg);
}
img.overwatch-logo{
	background-color: white;
	border:5px solid gray;
}
img.overwatch-small {
	width:100px;
	height:100px;
	background-color: black;
}
img.overwatch-dps {
	border:5px solid red;
}
img.overwatch-dps-heal {
	border-top:5px solid red;
	border-left:5px solid red;
	border-bottom:5px solid yellow;
	border-right:5px solid yellow;
}
img.overwatch-tank-heal {
	border-top:5px solid turquoise;
	border-left:5px solid turquoise;
	border-bottom:5px solid yellow;
	border-right:5px solid yellow;
}
img.overwatch-tank-main {
	border:5px solid turquoise;
}
img.overwatch-tank-off {
	border-top:5px solid turquoise;
	border-left:5px solid turquoise;
	border-bottom:5px solid red;
	border-right:5px solid red;
}
img.overwatch-heal {
	border:5px solid yellow;
}
img.overwatch-heal-speed {
	border-top:5px solid yellow;
	border-left:5px solid yellow;
	border-bottom:5px solid #24ea0e;
	border-right:5px solid #24ea0e;
}
img.poke-game-cover {
	width: 100px;
	height: 100px;
}
form.center {
	text-align: center;
}
table {
	width: 90%;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
	padding: 10px;
	text-align: center;
	background-color: white;
}
th {
	background-color: #696969;
}
.almost-black-text {
	color:#282828;
}
.yellow-text {
	color:yellow;
}
.purple-text {
	color:#d06ddb;
}
.red-text {
	color:red;
}
.red-orange-text {
	color:#f45c16;
}
.maroon-text {
	color:#a83939;
}
.light-blue-text {
	color:#3ebef9;
}
.sand-text {
	color:#edda0e;
}
.turquoise-text {
	color:turquoise;
}
.pink-text {
	color:#F660AB;
}
.light-pink-text {
	color:#ffb7fb;
}
.white-text {
	color:white;
}
.tan-text {
	color:#d2b48c;
}
.draco-text {
	color:#5c47a7;
}
.lavender-text {
	color:#eedcfd;
}