h2.black-bg {
	background-color:#282828;
	padding: 15px;
	margin-left: -20px;
	margin-right: -20px;
}
.poke-rant {
	border: 3px solid black;
	color: white;
	text-align: left;
	margin: 20px;
	padding: 20px;
	text-indent: 30px;
}
table {
	width: 90%;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
	padding: 10px;
	text-align: center;
	background-color: white;
	color: black;
}	
.left-side-poke {
	width: 70%;
}
.right-side-poke {
	width: 25%;
	text-align: center;
	margin-left: 10px;
	padding-top:20px;
}
img.pokepic {
	width: 200px;
	height: 200px;
}
img.poke-game-cover {
	width: 100px;
	height: 100px;
}
.white-menu {
	background-color: white;
	color: #696969;
	padding: 8px;
	border-radius: 10px;
	display: block;
}
.party-container {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	padding-bottom: 100px;
	margin: 10px;
	height: 200px;
}
.search-bar {
	background-color: #aaaaaa;
	border-radius: 5px;
	width: 30%;
	margin: auto;
	padding: 10px;
	text-align: center;
}
.team-outline {
	border: 2px solid white;
}
.battle-canvas {
	background-color: white;
	margin: auto;
	max-width: 800px;
	height: 600px;
	max-height: 600px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.battle-area {
	height: 60%;
	border: 1px solid black;
}
.text-area {
	border: 2px solid black;
	height: 20%;
	width: auto;
	padding: 1%;
}
.moves-area {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	visibility: visible;
}	
.move {
	width: 24%;
	text-align: center;
	padding: 2%;
	border: 2px solid black;
	border-radius: 5px;
}
.opponent-poke {
	transform: scale(1.5);
	margin: 50px;	
	float: right;
	position: relative;
	top: 40px;
	right: 100px;
}
.player-poke {
	transform: scale(1.5);
	margin: 50px;
	position: relative;
	top: 160px;
	left: 100px;
}