.poke-rant {
	border: 3px solid black;
	color: white;
	text-align: left;
	margin: 20px;
	padding: 20px;
	text-indent: 30px;
}	
.left-side-poke {
	width: 70%;
}
.right-side-poke {
	width: 25%;
	text-align: center;
	margin-left: 10px;
	padding-top:20px;
}
img.pokepic {
	width: 200px;
	height: 200px;
}
img.poke-game-cover {
	width: 100px;
	height: 100px;
}
.top-left-white {
	background-color: white;
	color: #696969;
	height: 20px;
	position: absolute;
	top:0px;
	left:0px;
	padding: 6px;
	border-bottom-right-radius: 10px;
}