h2.black-bg {
	background-color:#282828;
	padding: 15px;
	margin-left: -20px;
	margin-right: -20px;
}
.poke-rant {
	border: 3px solid black;
	color: white;
	text-align: left;
	margin: 20px;
	padding: 20px;
	text-indent: 30px;
}	
.left-side-poke {
	width: 70%;
}
.right-side-poke {
	width: 25%;
	text-align: center;
	margin-left: 10px;
	padding-top:20px;
}
img.pokepic {
	width: 200px;
	height: 200px;
}
img.poke-game-cover {
	width: 100px;
	height: 100px;
}
.white-menu {
	background-color: white;
	color: #696969;
	padding: 8px;
	border-radius: 10px;
	display: block;
}
.party-container {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	padding-bottom: 100px;
	margin: 10px;
	height: 150px;
}
.search-bar {
	background-color: #aaaaaa;
	border-radius: 5px;
	width: 30%;
	margin: auto;
	padding: 10px;
	text-align: center;
}
.team-outline {
	border: 2px solid white;
}