.dark-blue-outline-left {
	border: 3px solid #00004d;
	margin: 10px;
	width: 47%;
	float: left;
}
.dark-blue-outline-right {
	border: 3px solid #00004d;
	margin: 10px;
	width: 47%;
	float: right;
}
.player-headline {
	background-color: #bababa;
    color: white;
    padding:10px;
    text-align: center; 
    font-size: 16px;
}	
.xbox-headline {
	background-color: white;
    color: #56af62;
    padding:10px;
    text-align: center; 
    font-size: 16px;
	width: 25%;
	float: left;
}	
.xbox-gamertag {
	background-color: #56af62;
    color: white;
    padding:10px;
    text-align: center;   
    font-size: 16px;
}
.pc-headline {
	background-color: #282828;
    color: white;
    padding:10px;
    text-align: center;   
    font-size: 16px;
	width: 25%;
	float: left;
}	
.pc-gamertag {
	background-color: white;
    color: #282828;
    padding:10px;
    text-align: center;
	font: bold;   
    font-size: 16px;
}
.rank-headline {
	background-color: #bababa;
    color: white;
    padding:10px;
    text-align: center; 
    font-size: 16px;
}		
.rank-type {
	background-color: #80B1D0;
	border-bottom:1px solid #00004d;
    color: white;
    padding:10px;
    text-align: center; 
    font-size: 16px;
	width:30%;
}	
.left-side-rl {
	width: 40%;
	float: left;
}
.right-side-rl {
	width: 60%;
	float: right;
	border-left: 1px solid black;
	margin-left: -1px;
}