.resume-area {
	background-color: white;
	border: solid white 5px;
}
.truman-button {
	padding: 5px;
	background-color: #4F1E70;
	color: white;
}
.lockton-button {
	padding: 5px;
	background-color: #00306B;
	color: white;
}
.resume-section {
	padding: 5px;
	background-color: #696969;
	color: white;
}
hr.lockton-line {
	color: white;
	background-color: white;
}
.outback-button {
	padding: 5px;
	background-color: #BD282C;
	color: white;
}
.jba-button {
	padding: 5px;
	background-color: #004F7F;
	color: white;	
}.github-button {
	padding: 5px;
	background-color: #171515;
	color: white;